<!DOCTYPE html>
<html>
<head>
	<title>Job Apply</title>
</head>
<center>

    <body bgcolor="lightgrey">   
<section id="content" class="s-content">

    <section class="s-pageheader pageheader">
         <div class="row">
             <div class="column xl-12">
                 <h1 class="page-title">
                     <span class="page-title__small-type text-pretitle">Job Apply Management</span>
                 </h1>
             </div>
         </div>
    </section> <!-- pageheader -->  
    <section class="s-pagecontent pagecontent">
         <div class="row">
             <div class="column xl-12 grid-block">             
                 
                 <div class="grid-full grid-list-items list-items show-ctr">
                     
                     <div class="grid-list-items__item list-items__item">
                             <h3 class="list-items__item-title"><a class="btn btn--stroke u-fullwidth" href="JobApply.html">Add Candidate</a></h3>
                     </div> <!-- end list-items__item -->
                     <div class="grid-list-items__item list-items__item">
                             <h3 class="list-items__item-title"><a class="btn btn--stroke u-fullwidth" href="JobApplyHistory.html">Search Candidate</a></h3>
                     </div> <!-- end list-items__item -->
                 </div> 
             </div> 
         </div> 
        </section>

        </body>
        </center>
        </html>
        