<!DOCTYPE html>
<html>
<head>
    <title>Job History Records</title>
</head>
<body>
    <h1>Job History Records</h1>
    <table>
        <thead>
            <tr>
                <th>Candidates ID</th>
                <th>Email</th>
                <th>Company Name</th>
                <th>Job Name</th>
                <th>Job Department</th>
                <th>Job Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cand_id }}</td>
                <td>{{ email }}</td>
                <td>{{ company_name }}</td>
                <td>{{ job_name }}</td>
                <td>{{ job_dep }}</td>
                <td>{{ job_location }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>